<!DOCTYPE html>
<HTML lang="en">
<HEAD>
  {% load static %}
    <style>
        body{
            background-image: url({% static "image/back.jpg" %});
            background-size: 110%;
        }
    </style>

<meta charset="utf-8">
<title>AvHack</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css1/font-awesome.css' %}" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">

{% load static %}
</HEAD>

<BODY background="{% static 'image/back.jpg' %}">

    <div class="dws">
        <a href="#" class="butt">Выполнить</a>
    </div>

<div class="dws3">
        <a href="#" class="butt">Отмена</a>    
</div>

    
    <header>
        <nav class="dws-menu">
            <ul>
                <li><a href="/"><i class="fa fa-truck"></i>Приём</a></li>
                <li><a href="/take/"><i class="fa fa-dropbox"></i>Выдача</a></li>
                <li><a href="/back/"><i class="fa fa-handshake-o"></i>Возврат</a></li>
                <li><a href="/marks/"><i class="fa fa-server"></i>Отправка данных на сервер</a></li>
            </ul>
        </nav>
    </header>

    <div class="pic">
        <p>
            <img src="../../static/image/wb.png " width="250px" alt="logo">
        </p>
    </div> 

    <div class="return">
        <p><b>Возврат</p></b>
    </div>
    


<div id="wrapper">
    <form action="#" name="Form">
        <p>
            <input type="text" placeholder="№ Заказа" required autofocus>
        </p>
        <p>
            <input type="reset" value="Очистить поля">
        </p>
    </form>
</div>

</BODY>

</HTML>