<!DOCTYPE html>
<HTML lang="en">
<HEAD>

<meta charset="utf-8">
<title>AvHack</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
<link rel="stylesheet" href="../../static/css1/font-awesome.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../static/css/style3.css">


</HEAD>

<BODY>

    <div class="dws">
        <a href="#" class="butt">Отчёт</a>
    </div>

   
    <header>
        <nav class="dws-menu">
            <ul>
                <li><a href="/"><i class="fa fa-truck"></i>Приём</a></li>
                <li><a href="/take/"><i class="fa fa-dropbox"></i>Выдача</a></li>
                <li><a href="/back/"><i class="fa fa-handshake-o"></i>Возврат</a></li>
                <li><a href="/marks/"><i class="fa fa-server"></i>Отправка данных на сервер</a></li>
            </ul>
        </nav>
    </header>

    <div class="pic">
        <p>
            <img src="../../static/image/wb.png " width="250px" alt="logo">
        </p>
    </div> 

</BODY>

</HTML>