.dws{
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%,50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.butt{
    border: 3px solid #b3129a;
    font-size: 30px;
    color: #471173;
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial,sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
}
.butt::before,
.butt::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #b3129a;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}
.butt::after{
    opacity: 1;
    transition-delay: .2s;
}
.butt:hover{
    color: #fff;
}
.butt:hover::before,
.butt::after{
    left: 0;
}

header{
    margin-top: 100px;
    font-family: 'Cuprum', sans-serif;
}
.dws-menu *{
    margin: 0;
    padding: 0;
 }

.dws-menu{
    position: absolute;
    left: 25%;
}
 .dws-menu ul,
 .dws-menu ol{
     list-style: none;
 }
 
 .dws-menu > ul{
     display: flex;
     justify-content: center;
 }
 
 .dws-menu  > ul li a{
     display: block;
     background: #fff;
     padding: 30px 60px 30px 80px;
     font-size: 14px;
     color: #b3129a;
     text-decoration: none;
     text-transform: uppercase;
     transition: all 0.3s ease;
 } 

 .dws-menu > ul li{
     position: relative;
     border-right: 1px solid #471173;
 }
 .dws-menu > ul li > a i.fa{
     position: absolute;
     top: 30px;
     left: 16px;
     font-size: 16px;
 }
 .dws-menu > ul li:first-child{
     border-left: 1px solid #471173;
 }
 .dws-menu > ul li:last-child{
    border-right: 1px solid #471173;
}
.dws-menu li a:hover{
    background: #471173;
    color: #fff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}
#wrapper{
    position: absolute;
    top: 35%;
    left: 45%;
}
.Приём{
    position: absolute;
    top: 27%;
    left: 45%;
    font-size: 30px;
    font-family: 'Cuprum';
}
.pic{
    position: absolute;
    top: 0%;
    left: 42%;
}